# ==========================================
# Environment & Sensitive Credentials
# ==========================================
.env
*.env
.env.*
**/.env

# ==========================================
# Local Terraform Cache & Plugins
# ==========================================
# Ignores .terraform folders in root and all subdirectories
.terraform/
**/.terraform/

# ==========================================
# Terraform State Files
# ==========================================
*.tfstate
*.tfstate.*
**/*.tfstate
**/*.tfstate.*

# Transient lock files created by terraform apply
.terraform.tfstate.lock.info

# ==========================================
# Sensitive Input Variables & Plan Files
# ==========================================
*.tfvars
*.tfvars.json
*tfplan*
planout

# ==========================================
# Local Overrides & CLI Configurations
# ==========================================
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# ==========================================
# Logs & Debug Output
# ==========================================
crash.log
crash.*.log
*.dot